<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>


<div class="container">
    <h1><%= message %></h1>
</div>



<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>